.contain-form {
  margin-bottom: 20px;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 350px;
  margin: 0 auto;
  text-align: left;
  padding-top: 30px;
  padding-left: 30px;
  border: 1px solid #feba1c;
  border-radius: 10px;
}

.contain-submit {
  text-align: center;
  margin-left: -30px;
}

.form input {
  width: 200px;
  margin-left: 10px;
}

.table-recipe-management table {
  margin: 0 auto;
}

.table-recipe-management table,
.table-recipe-management th,
.table-recipe-management td {
  border: 1px solid transparent;
  border-collapse: collapse;
  padding: 10px;
}

.table-recipe-management img {
  width: 70px;
  height: auto;
  border-radius: 10px;
}

.tab-recipes .button-delete:hover,
.tab-recipes .button-put:hover {
  color: #feba1c;
  background-color: transparent;
}
