.contain-management {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  text-align: center;
}

.ingredient-management button {
  background-color: #e88628;
  width: 151px;
  height: 36px;
  border-radius: 20px;
  border: none;
  color: white;
  margin-bottom: 30px;
}

.ingredient-management button:hover {
  background-color: white;
  width: 151px;
  height: 36px;
  border-radius: 20px;
  border: none;
  color: #e88628;
  border: 1px solid #e88628;
}

.user-management,
.ingredient-management {
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.dashboard-ingredient {
  background-color: white;
}

@media screen and (min-width: 480px) {
  .user-management,
  .ingredient-management {
    width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .user-management,
  .ingredient-management {
    width: 700px;
  }
}

@media screen and (min-width: 1024px) {
  .user-management,
  .ingredient-management {
    width: 1000px;
  }
}
