.contain-management {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  text-align: center;
}

.user-management,
.recipe-management {
  background-color: white;
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

@media screen and (min-width: 480px) {
  .user-management,
  .recipe-management {
    width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .user-management,
  .recipe-management {
    width: 700px;
  }
}

@media screen and (min-width: 1024px) {
  .user-management,
  .recipe-management {
    width: 1000px;
  }
}
