::-webkit-scrollbar {
  display: none;
}
:root {
  font-family: "Now", sans-serif;
  color: #2e2e2e;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Now", sans-serif;
  }
}

body {
  background: #fffcf4;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

li {
  list-style: none;
}
