::-webkit-scrollbar {
  display: none;
}
:root {
  font-family: "Now", sans-serif;
  color: #2e2e2e;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Now", sans-serif;
  }
}

body {
  background: #fffcf4;
  background-image: url("../frontend/src/assets/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:
    bottom center,
    50%,
    50%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

li {
  list-style: none;
}

.button-submit {
  background-color: #e88628;
  width: 151px;
  height: 36px;
  border-radius: 20px;
  border: none;
  color: white;
}

.button-submit:hover {
  color: #e88628;
  background-color: white;
  border: 1px solid #e88628;
  transition: 0.3s ease-in-out;
}

.p-login {
  margin: 50px 0 50px 0;
  color: #e88628;
  font-weight: bold;
}

.p-link {
  text-decoration: none;
}
