::-webkit-scrollbar {
  display: none;
}
:root {
  font-family: "Now", sans-serif;
  color: #2e2e2e;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Now", sans-serif;
  }
}

body {
  background: #fffcf4;
  background-image: url("../frontend/src/assets/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:
    bottom center,
    50%,
    50%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

li {
  list-style: none;
}
