# This is a comment.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in

# the repo an will be requested for

# review when someone opens a pull request.

-       @WildCodeSchool-2023-09/JS_React_IF_Instructors
