.recipe {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.recipe-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 11px;
}

.preparation_time {
  font-weight: bold;
}

.difficulty {
  color: #ff5733;
}
