.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  z-index: 100;
  background-color: #fffcf4;
  width: 100%;
  top: 0;
  height: 80px;
  position: fixed;
  align-items: center;
  overflow: hidden;
}

.nav-menu,
.nav-login,
.nav-pages {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-menu a {
  color: #2e2e2e;
  position: relative;
  font-weight: 500;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.button-logout {
  border: none;
  background-color: #fe891b00;
  color: #2e2e2e;
  position: relative;
  font-weight: 700;
  padding: 20px 20px;
  font-size: 17px;
  transition: 0.3s ease-in-out;
}

.button-logout:hover {
  border: none;
  background-color: #fe891b00;
  color: #fe8a1b;
  position: relative;
  font-weight: 700;
  padding: 20px 20px;
  font-size: 17px;
}

@media screen and (max-width: 1200px) {
  .nav {
    display: grid;
    grid-template-columns: 1fr 4fr 0.5fr 0.3fr;
  }

  .nav-menu,
  .nav-logo {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
  }

  .nav-logo2 {
    width: 100px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-logo2 {
    display: none;
  }
}

.nav-menu a.active:after,
.nav-log a.active:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #fe8a1b;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-menu a::after,
.nav-log a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #fe8a1b;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-menu a:hover::after,
.nav-log a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
