body {
  background-color: #ece8da;
  font-family: Now, sans-serif;
}
.form-ingredients {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 12px;
}

button {
  padding: 8px;
  background-color: #fe8a1b;
  border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #5e9732;
}
