.contain-dashboard h2 {
  text-align: center;
  margin-top: 140px;
}

.button-delete,
.button-put,
.button-submit {
  width: 100px;
  height: auto;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background-color: transparent;
}

.button-submit {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .button-delete:hover,
  .button-put:hover,
  .button-submit:hover {
    color: #ffd910;
  }
}
